<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Stores edit page</title>

<style>
.align_center {
	padding: 3px;
	text-align: center;
}

.table {
	text-align: center;
	border: 1px solid #aaa;
	padding-left: 8px;
	padding-right: 8px;
	color: indigo;
}

.list_table {
	text-align: center;
	padding-left: 18px;
	color: black;
}

.left_column {
	padding-left: 5px;
	color: indigo;
	border: 1px solid #aaa;
	padding-left: 20px;
	padding-top: 10px;
}

.error {
	color: OrangeRed;
	font-style: italic;
}

.button {
	height: 38px;
	width: 140px;
}

div.wrapper {
	width: 950px;
}

div.left_block {
	float: left;
	width: 260px;
}

div.right_block {
	float: right;
	width: 600px;
}
</style>

</head>

<!-- Standard heading -->

<h2> <img src="stores.jpg" alt="No picture available" width="170" style="float: left;"> </h2>
<h1 style="color:gold; font-family: 'Courier New'; background-color: LightGoldenRodYellow; padding-left: 240px; padding-top: 20px;"  
th:text="#{manager.stores}">STORES EDIT</h1>
<p style="opacity:0;">.</p>

<small style="float: left; padding-right: 20px; text-align: right;">
<a href="manager_gomenu" th:action="manager_gomenu" th:text="#{manager.gomenu}"> Return to the Main Menu </a></small>

<body style="background-color: AliceBlue;">

<span class="align_center" th:text="#{greeting.date}"> Today is </span>
<span th:text="${#dates.format(today1,'dd MMMM')}"> 6 March </span>
<span style="font-weight: bold;" th:text="${#dates.format(today1,'HH : mm')}"> 12 : 00 </span>

<!-- Manager's information -->

<table class="table">
    <thead>
    <tr class="table">
      <th scope="col" th:text="#{manager.you}" class="table">YOUR DATA AS MANAGER:</th>
      <th scope="col" th:text="#{manager.surname}" class="table">Surname</th>
      <th scope="col" th:text="#{manager.name}" class="table">Name</th>
      <th scope="col" th:text="#{manager.username}" class="table">Username</th>
      <th scope="col" th:text="#{manager.address}" class="table">Address</th> 
      <th scope="col" th:text="#{manager.phonenumber}" class="table">Phone Number</th>
      <th scope="col" th:text="#{manager.intphone}" class="table"> Internal Phone</th>
      
    </tr>
    </thead>

    <tbody>

       <tr class="table">
        <td> ID:<span th:text="${manager.id}">2 </span></td>
        <td th:text="${manager.surname}">Ivanov</td>
        <td th:text="${manager.name}"> Ivan </td> 
        <td th:text="${manager.userName}">IvanIvanov</td>
        <td th:text="${manager.address}">Tallinn, Suur-Somae,10</td>
        <td th:text="${manager.phoneNumber}">3723456432</td>
        <td th:text="${manager.intPhone}">1234</td>
      </tr>
   
    </tbody>
  </table>

<!-- LIST OF EXISTING STORES -->

<h3 th:text="#{manager.listofstores}" style="color:DarkOrange; padding-top: 20px;">Review the Stores Listed Below and Add New if necessary:</h3>

<p style="opacity:0;">.</p>

<table class="list_table">
    <thead>
    <tr class="table">
      <th scope="col" >ID</th>
      <th scope="col" th:text="#{store.type}" class="list_table">Type</th>
      <th scope="col" th:text="#{store.name}" class="list_table">Store Name</th>
      <th scope="col" th:text="#{store.address}" class="list_table">Store Address</th>
      <th scope="col" th:text="#{store.premium%}" class="list_table">Premium Percent <span>,%</span></th>
    </tr>
    </thead>
    <tbody>

<tr class="list_table" th:each="store:${stores}">
       <td th:text="${store.id}">2 </td>
       <td>
						<div th:switch="${store.type}">
							<span th:case=2 th:text="#{store.premium}"></span> 
							<span th:case=1 th:text="#{store.norm}"></span>
						</div>
					</td>
       <td th:text="${store.name}">Prisma </td>
       <td th:text="${store.address}">Tallinn, Suur-Somae,10</td>
       <td> <span th:if="${store.type}==2" th:text="${store.premium}">20 </span>
       <span th:if="${store.type}!=2">-</span>
       </td>

      </tr>
    </tbody>
  </table>

<p style="opacity:0;">.</p>
<p style="opacity:0;">.</p>

<!-- ADD A NEW STORE -->

<form action="store_add" th:object="${storeinput}">

<table class="list_table">
    <thead>
    <tr class="table">
     <th scope="col" >ID</th>
      <th scope="col" th:text="#{store.type}" class="list_table">Type</th>
      <th scope="col" th:text="#{store.name}" class="list_table">Store Name</th>
      <th scope="col" th:text="#{store.address}" class="list_table">Store Address</th>
      <th scope="col" th:text="#{store.premium%}" class="list_table">Premium Percent <span>,%</span></th>
    <th scope="col" th:text="#{store.add}" class="list_table">Add</th>
    </tr>
    </thead>

    <tbody>

<tr class="list_table">
               <td> - </td>
               
               	<td><select id="store_type" name="type">
<!-- 							<option value="${type}"></option> -->
							<option value="1" th:text="#{store.norm}">Supermarket</option>
							<option value="2" th:text="#{store.premium}">Premium Store</option>
					</select></td>

					<td><input type="text" name="name" value="Mercury"
						 style="width: 50%"> </td>

					<td><input type="text" name="address" value="Tallinn, Suur-Somae,10"
						 style="width: 80%"> </td>

					<td id="premium"> <input type="text" name="premium" value="20"
						 style="width: 40%"> </td>

					<td style="padding-left:50px;">
						<button type="submit" th:name="store_addnew" th:value="Submit"
							style="background-color: ForestGreen;" class="button">
							<div th:text="#{store.add}">Add</div>
							
						</button>
					</td>
      </tr>
<tr class="list_table">
       <td></td>
       <td><small style="opacity: 0;"> - </small></td>
       <td><small th:text="${storenewch.ename} ? #{error.three}"
						class="error" style="padding-left: 10px;"> At least 3 letters required </small></td>
       <td><small th:text="${storenewch.eaddress} ? #{error.three}"
						class="error" style="padding-left: 10px;"> At least 3
							letters required </small></td>
       <td><small th:text="${storenewch.epremium} ? #{error.double}"
						class="error" style="padding-left: 10px;"> Required ONLY
							digits</small></td>
       <td></td>
       </tr>
      
      
    </tbody>
  </table>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
$(document).ready(function() {
    $("#store_type").change(function () {
        var selectedOption = $('#store_type').val();
        if (selectedOption != ''){
        	
        	var lpremium = document.getElementById('premium');
        	
        	if (selectedOption == "1") lpremium.style.visibility = 'hidden';
        	if (selectedOption != "1") lpremium.style.visibility = 'visible';
        
           }
    });
});

</script>


</body>
</html>